.titleStyles {
  text-transform: lowercase;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: var(--secondary);
}

.titleStyles::after{
  content: ":";
  font-size: 2.5rem;
  color: var(--accent);
  padding-inline: 10px;
}
