@keyframes fadeOut {
  from {
    filter: grayscale(0);
  }

  to {
    filter: grayscale(1);
  }
}

.hero {
  gap: 70px;

  view-timeline-name: --revealing-image;
  view-timeline-axis: block;
  animation-name: fadeOut;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-timeline: --revealing-image;

  animation-range: exit 0% exit 50%;
}

.hero img {
  max-width: 350px;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 10px var(--accent));
}

.copy {
  gap: 30px;
  color: var(--secondary);
}

.copy h2 {
  font-size: 2.7rem;
  font-weight: 800;
  letter-spacing: 2px;
}

.copy h2 span {
  color: var(--accent);
}

.copy_cta {
  max-width: 200px;
  border: 2px solid var(--accent) !important;
  color: var(--accent) !important;
  transition: 0.4s ease !important;
}

.copy_cta:hover {
  color: #fff !important;
  background-color: var(--accent) !important;
}

.copy ul {
  list-style: none;
  gap: 30px;
  display: none;
}

.copy ul i {
  font-size: 1.5rem;
  color: var(--secondary);
  transition: 0.3s ease;
}

.copy ul i:hover {
  color: var(--accent);
}

@media screen and (max-width: 1000px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero div {
    justify-content: center;
  }

  .hero img {
    width: 100%;
  }
}
