.container {
  --diameter: 40px;
  width: var(--diameter);
  height: 15px;
  border-radius: calc(var(--diameter) / 2);
  background-color: var(--muted);
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 7;
}

.colorSwitch {
  --diameter: 20px;
  width: var(--diameter);
  height: var(--diameter);
  border-radius: calc(var(--diameter) / 2);
  position: relative;
  top: -2px;
  left: 0px;
  background: var(--primary);
  border: 2px solid var(--muted);
}
