@keyframes fadeIn {
  from {
    filter: grayscale(0);
  }

  to {
    filter: grayscale(0);
  }
}

.labelStyles {
  margin-bottom: 10px;
  color: var(--secondary);
  font-weight: 500;
}

.contact {
  color: var(--secondary);
  padding-top: 110px;
  margin-top: -110px;

  filter: grayscale(1);
  view-timeline-name: --revealing-image;
  view-timeline-axis: block;
  animation-name: fadeIn;
  animation-timing-function: ease;
  animation-fill-mode: none;
  animation-timeline: --revealing-image;

  animation-range: entry 50% exit 100%;
}

.contact > p > a {
  color: var(--accent);
  text-decoration: none;
}

.contact form button[type="submit"] {
  border: 2px solid var(--accent);
  color: var(--accent) !important;
  color: #fff;
  min-width: 100px;
  margin: 10px auto 0 auto;
  transition: 0.5s ease !important;
}

.contact form button[type="submit"]:hover{
  color: #fff !important;
  background-color: var(--accent);
}

@media screen and (max-width: 800px){
  .contact{
    padding-top: 200px;
    margin-top: -200px;
  }
}
