.footer {
  min-height: 200px;
}

.logo {
  color: var(--secondary);
  font-family: var(--logo);
  font-size: 2.8rem;
  text-decoration: underline 3px var(--accent);
}

.links {
  list-style: none;
}

.links a {
  font-size: 1.2rem;
  color: var(--secondary);
  transition: 0.5s ease;
}

.links a:hover {
  color: var(--accent);
}
