/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */

:root {
  /* Colors */
  --primary: #fff; /* #151125 */
  --secondary: #111;
  --accent: #ba31f0;
  --secondary-accent: #f7ff73;
  --muted: #ececec;

  /* Fonts */
  --logo: "Comforter", cursive;
  --body: "Rubik", sans-serif;
}

/* BODY */

body .root {
  display: flex;
}

.App {
  max-width: 1920px;
  margin: 0 auto;
  background-color: var(--primary);
  font-family: var(--body);
}
