/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */

:root{
  /* Colors */
  --neutral: #333;
  --accent: #ba31f0;
  --secondary-accent: #f7ff73;
  --muted: #e6e6e6;

  /* Fonts */
  --logo: 'Comforter', cursive;
  --body: 'Rubik', sans-serif;
}

/* BODY */

body .root{
  display: flex;
}

.App{
  max-width: 1920px;
  margin: 0 auto;
  font-family: var(--body);
}