:root {
  /* WHITE - GREEN */

  /* --bg-color: #fbfbfb;
  --text-color: #1d1d1d;
  --muted: #545454;
  --accent: #41b883;
  --accent-muted: #d4ffec75;
  --card-color: #eeecec;
  --card-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */

  /* BLACK - LIGHTBLUE */

  /* --bg-color: #0c0c0c;
  --text-color: #fff;
  --muted: #545454;
  --accent: #76e5fc;
  --accent-muted: #76e5fc05;
  --card-color: #222;
  --card-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */

  /* BLACK - GREEN */

  --bg-color: #0c0c0c;
  --text-color: #fff;
  --muted: #545454;
  --accent: #41b883;
  --accent-muted: #41b88310;
  --card-color: #222;
  --card-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  --font: Rubik, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: var(--bg-color);
}

body * {
  color: var(--text-color);
}

.text-muted {
  color: var(--muted);
}

.text-accent {
  color: var(--accent);
}

.cursor-pointer {
  cursor: pointer;
}
