:root {
  --bg-color: #0c0c0c;
  --text-color: #ebf5ee;
  --muted: #545454;
  --accent-values: 65, 184, 131;
  --accent: rgb(var(--accent-values));
  --accent-muted: rgba(var(--accent-values), 0.05);
  --card-color: #222;
  --card-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  --font: Rubik, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: var(--bg-color);
}

body * {
  color: var(--text-color);
}

.text-muted {
  color: var(--muted);
}

.text-accent {
  color: var(--accent);
}

.cursor-pointer {
  cursor: pointer;
}
